<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @notification.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @notification.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @notification.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= @notification.text %>
</p>

<%= link_to 'Home', root_path %>
