<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Playfair+Display|Raleway|Crimson+Text" rel="stylesheet">
  </head>

  <body>
	<div id="top-banner-container">
		<div id="banner">
			<h1>Florida Trial Lawyers</h1>
      <h5 style="display:inline-block;margin:5px 0 0 0;color:white;">Call at: (123)456-7891</h5>
		</div>

		<div id="navigation">
			<ul>
				<li><%= link_to 'Home', {controller: 'home', action: 'index' } %></li>
				<li><%= link_to 'The Lawyers', lawyers_path %></li>
				<li><%= link_to 'Practice Areas', practice_areas_path %></li>
				<li><%= link_to 'Legal Record', legal_record_path %></li>
        <li><%= link_to 'Contact Us', new_notification_path %></li>
			</ul>
		</div>
	</div>

	<div id="main-content">
		<%= yield %>
	</div>
  </body>
</html>
